%title
  - if current_page.path == 'index.html'
    Turing School of Software & Design - Blog
  - else
    = current_page.title
%meta{name: 'description', content: "Visit our blog to read web development related articles from Turing School of Software & Design. Keep checking back industry news and recent updates!"}
