%title
  - if current_page.path == 'index.html'
    Turing School of Software & Design - Blog
  - else
    = current_page.title
%meta{name: 'description', content: 'The official staff and student blog for Turing School of Software & Design, where we share stories and ideas for building software and community.'}
